annotated-types==0.6.0 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
cffi==1.16.0 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
cryptography==41.0.7 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
odswriter==0.4.0 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
pycparser==2.21 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
pydantic-core==2.14.6 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
pydantic==2.5.3 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
typing-extensions==4.9.0 ; python_version >= "3.10.dev0" and python_version < "3.11.dev0"
